
.card{
	width: 18rem;
	margin-top: 5rem ;
	margin-left: 2rem ;
	border-style: solid;
	background-color: aliceblue;

}
.card img{
	width: 18em;

}
.card h5{
	padding: 0.5rem;
}
.card p{
	padding: 0.5rem;
	padding-bottom: 1.5rem;
	padding-top: 0.1rem;
	padding-left: 1rem;
}
.btn{
	background-color: blue;
	color: black;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	margin-top: 1em;
	margin-left: 1rem;
	text-decoration: none;
}
.btn:hover{
	background-color: rgb(84, 84, 255);
}
.card-cont{
	background: black;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 34rem);
	width: 50 px;
	grid-column: 1/11;
	
}
@media (max-width: 900px){
	.card-cont{
		background: black;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 34rem);
		width: 50 px;
	}
}
@media (max-width: 650px){
	.card-cont{
		background: black;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, 34rem);
		width: 50 px;
	}
		.card{
		margin-inline: 0rem ;
	}
}

.main-container{
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1 ;
	padding: 0px;
	margin: 0px;
}