html {
	background: rgb(0, 0, 0);
}
.navbar {
	display: flex;
	background:  linear-gradient(50deg, #A8FF00 0%, #D6D628 100%);
	margin: 0em;
}	
.nav-list{
	display: flex;
	margin: 0em;
}
.nav-list a{
	display: block;
	text-decoration: none;
	padding: 1em;
	color: black;
	margin: 0em;
}
.nav-list a:hover {
	display: flex;
	background-color: rgba(79, 130, 9, 0.477);
}
.nav-btn {
	display: none;
}
.logoa{
	display: none;
}

@media (max-width: 426px) {
	.nav-btn {
		display: flex;
		font-size: 2em;
		background-color: #D6D628;
		border: none;
		padding-inline: 0.8rem;
		padding-top: 2px;
		display: block;
		cursor: pointer;
	}

	.nav-list{
		display: none;
	}
	.drop:hover .nav-list{
		display: block;
		background-color: #669800;
		position: absolute;
		right: 1px;
	}
	.navbar{
		justify-content: space-between;
	}
	.logoa{
		padding-top: 9px;
		padding-inline: 3px;
		text-decoration: none;
		color: black;
		display: block;
	
	}
	.logoa:hover{
		background-color:rgba(79, 130, 9, 0.477);
	}

}	
			