html {
	background-color: black;
}
.navbar {
	display: flex;
	background:  linear-gradient(50deg, #A8FF00 0%, #D6D628 100%);
	margin: 0em;
}	
.nav-list{
	display: flex;
	margin: 0em;
}
.nav-list a{
	display: block;
	text-decoration: none;
	padding: 1em;
	color: black;
	margin: 0em;
}
.nav-list a:hover {
	display: flex;
	background-color: rgba(79, 130, 9, 0.477);
}
.nav-btn {
	display: none;
}

@media (max-width: 426px) {
	.nav-btn {
		display: flex;
		font-size: 2em;
		background-color: #A8FF00;
		border: none;
		padding-inline: 0.8rem;
		padding-top: 2px;
		display: block;
	}
	.nav-list{
		display: none;
	}
	.rightbar{
		display: none;
	}
}